
/*
 * GLOBAL RESETS
 */
* {
	box-sizing: border-box;
}

p {
	margin-top: 0;
}



/*
 * GLOBAL APP
 */
#app-wrapper {

}

a {
	color: #000;
	font-weight: 600;
}




/*
 * CSS3 Animations Keyframes
 */
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}



/*
 * GLOBAL UI ELEMENTS
 */

/* App about Overlay */
.app-about {
	text-align: center;

	.read-more {
		float: right;
		background: url('/img/infos.svg') no-repeat center;
		background-size: contain;
		width: 33px;
		height: 33px;
	}

	.text-wrapper {
		position: fixed;
		z-index: 20;

		top: 40px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		background: #afafaf;
		display: none;

		text-align: left;
	}

	&.opened .text-wrapper {
		display: block;
	}
}

/* Audio control wrapper */
.audio-control-wrapper {
	$picto_size: 100px;

	position: relative;
	margin-bottom: 20px;

	.audio-timer {
		margin: 10px 0;
		text-align: center;
		opacity: 0;
	}

	button.audio-control {
		width: $picto_size;
		height: $picto_size;
		border: none;
		display: block;
		margin: auto;
		background: transparent no-repeat center;
		background-size: contain;
		overflow: hidden;
		text-indent: -900px;
		cursor: pointer;

		&.record { background-image: url('/img/audio-button-record-black.svg'); }
		&.record-red { background-image: url('/img/audio-button-record-red.svg'); }
		&.play { background-image: url('/img/audio-button-play.svg'); }
		&.stop { background-image: url('/img/audio-button-stop.svg'); }
	}

	.audio-control-loader {
		$loader_size: 40px;
		$border_size: 6px;

		display: none;

		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;

	    .generic-loader {
			display: block;
		    width: $loader_size;
		    height: $loader_size;
		    margin: auto;
		    position: absolute;
		    top: $loader_size * 0.5;
		    left: 50%;
		    transform: translateX(-50%) translateY(-50%);

		    &:after {
				content: " ";
				display: block;
				width: $loader_size;
				height: $loader_size;
				margin: 0;
				margin-top: - ($border_size / 2);
				margin-left: - ($border_size / 2);
				border-radius: 50%;
				border: $border_size solid #000;
				border-color: #000 transparent #000 transparent;
				animation: lds-dual-ring 1.2s linear infinite;
			}
		}

		.label {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
		}
	}

	&.recorder {
		button.record { display: block; }
		button.record-red { display: none; }

		&[data-state="is-loading"],
		&[data-state="is-encoding"] {
			height: 80px;

			button.record { display: none; }
			button.record-red { display: none; }
		}

		&[data-state="is-loading"] {
			.audio-control-loader.loading-encoder {
				display: block;
			}
		}

		&[data-state="is-encoding"] {
			.audio-control-loader.encoding-recording {
				display: block;
			}
		}

		&[data-state="is-active"] {
			button.record { display: none; }
			button.record-red { display: block; }

			.audio-timer {
				opacity: 1;
			}
		}
	}

	&.player {
		button.play { display: block; }
		button.stop { display: none; }

		&[data-state="is-active"] {
			button.play { display: none; }
			button.stop { display: block; }
		}
	}

	.native-audio-el-container { display: none; }
}





/*
 * HOMEPAGE
 */
body.page_welcome {

	.home-interaction-block {
		overflow: hidden;
		margin-bottom: 40px;

		> * {
			width: 50%;
		}

		&.listen > * {
			float: left;
		}

		&.record > * {
			float: right;
		}

		.text {
			> a {
				display: inline-block;
				margin-bottom: 10px;
			}

			.dream-meta {
				display: block;
			}
		}
	}
}


/*
 * RECORD DREAM PAGE
 */
body.page_record_dream {
	.record-step {
		display: none;

		&.shown {
			display: block;
		}
	}

	&.is-recording {
		.hide-when-recording { visibility: hidden; }
	}

	.validate-recording-buttons {
		margin-top: 0;

		button {
			display: block;
			margin: 10px auto;
		}
	}

	.send-dream-form {
		.form-entry {
			padding: 10px;
		    position: relative;
		    background: rgba(0, 0, 0, 0.2);
		    border-radius: 11px;
		    margin-bottom: 10px;

			label {
				display: block;
				line-height: 24px;
				margin-bottom: 4px;
				overflow: hidden;
			}

			input[type="text"],
			input[type="date"] {
				display: block;
				width: 100%;
				padding: 9px;
				line-height: normal;
				font-size: 14px;
				border: none;
				border-radius: 5px;
			}

			input[type="checkbox"],
			input[type="radio"] {
				display: block;
			    float: left;
			    width: 5%;
			    height: 0;
			    padding-top: 5%;
			    vertical-align: middle;
			    -webkit-appearance: none;
			    background: #fff;
			    border: none;
			    border-radius: 4px;
			    margin: 0;
			    transform: translateY(-50%);
				top: 50%;
				position: absolute;

				&:checked:after {
					position: absolute;
				    top: 46%;
				    left: 50%;
				    content: " ";
				    height: 4px;
				    width: 9px;
				    border-bottom: 3px solid #000;
				    border-left: 3px solid #000;
				    background: none;
				    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
				    transform-origin: center center;
				}
			}

			.checkbox-label {
				display: block;
				float: left;
				width: 95%;
				margin-left: 5%;
				padding-left: 10px;
				font-size: 16px;
				line-height: normal;
			}

			small {
				display: block;
				margin-top: 6px;
				color: #ddd;
			}

			button.submit {
				border: 1px solid grey;
				padding: 20px;
				font-size: 18px;
				border-radius: 6px;
				cursor: pointer;

				&:hover {
					background: #eee;
				}
			}
		}
	}
}


/*
 * DREAM SUBMITTED - SUCCESS PAGE
 */
body.page_record_dream_success {
	
	.link-to-user-dream {
		background: rgba(0, 0, 0, 0.2);
		padding: 10px;
		border-radius: 10px;
		margin-bottom: 10px;

		strong {
			font-weight: 400;
			display: block;
		}

		code {
			padding: 10px;
			display: block;
			background: rgba(255, 255, 255, 0.5);
			border-radius: 5px;
			margin-top: 10px;
		}
	}
}
