
/*
 * GLOBAL APP
 */
#app-wrapper {

	/* Quick'n'dirty helper to get a phone layout */
	width: 400px;
	margin: auto;
}


/*
 * GLOBAL UI ELEMENTS
 */
.audio-control-wrapper {
	button.audio-control {
		width: 100px;
		height: 100px;
		border: none;
		display: block;
		margin: auto;
		background: transparent no-repeat center;
		background-size: contain;
		overflow: hidden;
		text-indent: -900px;
		cursor: pointer;

		&.record { background-image: url('/img/audio-button-record-black.svg'); }
		&.record-red { background-image: url('/img/audio-button-record-red.svg'); }
		&.play { background-image: url('/img/audio-button-play.svg'); }
		&.stop { background-image: url('/img/audio-button-stop.svg'); }
	}

	&.recorder {
		button.record { display: block; }
		button.record-red { display: none; }

		&.is-active {
			button.record { display: none; }
			button.record-red { display: block; }
		}
	}

	&.player {
		button.play { display: block; }
		button.stop { display: none; }

		&.is-active {
			button.play { display: none; }
			button.stop { display: block; }
		}
	}

	.native-audio-el-container { display: none; }
}



/*
 * HOMEPAGE
 */
body.page_welcome {

	.app-about {
		.text-wrapper {
			height: 100px;
			overflow: hidden;
		}

		&.opened .text-wrapper {
			height: auto;
		}
	}

	.home-interaction-block {
		overflow: hidden;

		> * {
			width: 50%;
		}

		&.listen > * {
			float: left;
		}

		&.record > * {
			float: right;
		}
	}
}


/*
 * RECORD DREAM PAGE
 */
body.page_record_dream {
	.record-step {
		display: none;

		&.shown {
			display: block;
		}
	}

	&.is-recording {
		.hide-when-recording { visibility: hidden; }
	}

	.validate-recording-buttons {
		margin-top: 40px;
		
		button {
			display: block;
			width: 200px;
			margin: 10px auto;
		}
	}
}
