@import "node_modules/bootstrap-scss/bootstrap";

/*
 * CSS3 Animations Keyframes
 */
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/** General styling (fonts...) */
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background: url(/img/bg-sm.png) no-repeat center 60% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Barlow", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    overflow-x:hidden;
}

.container-fluid
{
    height: 100%;
    width: 100%;
}

[class*="row"],
img {
    // border: 1px green solid;
}
[class*="col"] {
    padding: 0px;
    // border: 1px yellow solid;
}

.text-h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
}

.text-h2 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
}

strong {
    font-weight: 700;
}


/** CUSTOM SCROLLBAR */
/* Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e9e7e8;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
}

/** DATEPICKER **/
.ui-datepicker {
    display: none;
    background-color: #cb2401;
    color: white;
    width: 350px;
    padding: 10px 0px 10px 10px;
    border-radius: 4px;
    font-size: 22px;
    .ui-datepicker-title {
        font-size: 24px;
    }
    .ui-datepicker-calendar {
        width: 100%;
    }

    th {
        font-weight: 500;
    }
    td > a {
        display: block;
        margin-bottom: 5px;
    }
    td > a,
    td > a:hover,
    .ui-datepicker-next,
    .ui-datepicker-prev,
    .ui-datepicker-next:hover,
    .ui-datepicker-prev:hover {
        color: white;
    }

    td > a:hover {
        font-weight: bold;
    }

    tbody tr
    {
        line-height: 40px;
    }

    .ui-state-highlight {
        text-decoration: underline;
        font-weight: bold;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
        font-size: 22px;
        cursor: pointer;
        margin-right: 10px;
    }

    .ui-datepicker-header {
        display: flex;
        margin-bottom: 10px;
    }
}

/** CUSTOM BUTTON **/
.button {
    cursor: pointer;
    transition: opacity 300ms;
}

.button:hover {
    opacity: 0.8;
}

/** Pages styling (home page, record page) */
@mixin pageStyle($spacing) {
    .row
    {
        padding-left: $spacing;
        padding-right: $spacing;
    }
    /** HEADER */
    .header {
        margin: $spacing 0px;
    }

    /** GENERAL MODAL */
    .custom-modal {
        position: fixed;
        z-index: 20;
        display: block;
        text-align: left;
        font-size: 18px;
        overflow: hidden;
        line-height: 24px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        background: url(/img/bg-sm.png) no-repeat center 60% fixed;
        background-size: cover;
        padding: $spacing;
        overflow: auto;
        display: none;

        .close-modal-button {
            margin-bottom: 2 * $spacing;
        }
    }

    /** HOME PAGE **/
    .listen-container {
        .record-dream-button {
            margin-bottom: 2*$spacing;
        }

        .banner {
            margin-top: $spacing;
            margin-bottom: 1.27*$spacing;
        }

        #stop,
        #listen-player {
            display: none;
        }

        .listen-modal {
            overflow: hidden;

            #content {
                margin-bottom: 50px;
            }
             #record-dream {
                font-weight: 700;
                margin-bottom: 50px;
            }
            #continue-listen {
                cursor: pointer;
                margin-bottom: 2 * $spacing;
            }

 
        }
    }

    /** RECORD PAGE **/
    .record-container {
        .step-2,
        .step-3,
        .step-1 {
            display: none;
        }

        .header-record
        {
            // Fixed height so that bottom button doesn't wiggle
            height: 180px;
        }

        .title, .progress-container, 
        {
            margin-bottom: $spacing;
        }

        .step-3 .progress-container
        {
            margin-bottom: 1.4*$spacing;
        }

        .stop-description {
            display: none;
        }

        .audio-timer {
            display: none;
            line-height:60px;
            font-size: 58px;
        }

        .stop {
            display: none;
        }

        .record-buttons-col
        {
            margin-bottom: 2.2*$spacing;
            min-height: 120px;
            position: relative;
        }

        .record-buttons-container {
            width: 300px;
            margin-bottom: $spacing;
        }


        .loading-encoder {
            $loader_size: 92px;
            $border_size: 6px;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            .generic-loader {
                display: block;
                width: $loader_size;
                height: $loader_size;
                margin: auto;
                position: absolute;
                top: $loader_size * 0.5;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);

                &:after {
                    content: " ";
                    display: block;
                    width: $loader_size;
                    height: $loader_size;
                    margin: 0;
                    margin-top: -($border_size / 2);
                    margin-left: -($border_size / 2);
                    border-radius: 50%;
                    border: $border_size solid white;
                    border-color: white transparent white transparent;
                    animation: lds-dual-ring 1.2s linear infinite;
                }
            }

            .label {
                position: absolute;
                left: 0;
                right: 0;
                top: $loader_size * 1.1;
                text-align: center;
            }
        }
        #rec-play, #rec-stop
        {
            height: 100px;
            margin-bottom: 50px;
        }
        #restart
        {
            margin-bottom: 50px;
        }

        #save-dream
        {
            margin-bottom: 2.2*$spacing;
        }
        #rec-stop {
            display: none;
        }

        .button-save {
            font-weight: 500;
            color: #ff2828 !important;
            background-color: #ffffff;
            border-radius: 68px;
            padding: 21px 48px;
            border: none;

            a {
                color: #ff2828;
            }
        }

        .thank-text
        {
            margin-bottom: $spacing;
        }

        .end-record
        {
            margin-bottom: 2.2*$spacing;
        }

        .send-dream-form {
            .form-entry {
                position: relative;
                margin-bottom: $spacing;

                .button-save
                {
                    margin-bottom: 2.2*$spacing;
                }

                label {
                    display: block;
                    line-height: 24px;
                    margin-bottom: 4px;
                    overflow: hidden;
                }

                select,
                #dream_date {
                    display: block;
                    background-color: #f78275;
                    padding: 10px 15px;
                    width: 100%;
                    color: white;
                    line-height: normal;
                    font-size: 18px;
                    border: none;
                    border-radius: 5px;
                    appearance: none;
                    -moz-appearance: none; /* Firefox */
                    -webkit-appearance: none; /* Safari and Chrome */
                }

                select {
                    background-image: url("/img/chevron-down.svg");
                    background-repeat: no-repeat;
                    background-position: bottom 50% right 18px;
                }

                #dream_date {
                    background-image: url("/img/calendar.svg");
                    background-repeat: no-repeat;
                    background-position: bottom 50% right 15px;
                }

                input[type="text"],
                input[type="date"],
                input[type="email"] {
                    display: block;
                    background-color: #f78275 !important;
                    padding: 10px 15px;
                    width: 100%;
                    color: white;
                    line-height: normal;
                    font-size: 18px;
                    border: none;
                    border-radius: 5px;
                }

                ::placeholder {
                    color: white;
                    line-height: normal;
                    font-size: 18px;
                }

                input:focus,
                select:focus {
                    outline: none;
                }

                .checkbox-label {
                    display: block;
                    float: left;
                    width: 95%;
                    margin-left: 5%;
                    padding-left: 10px;
                    font-size: 18px;
                    line-height: 24px;
                }

                .info-form {
                    margin-top: 6px;
                    text-align: left;
                }

                .error {
                    display: none;
                    font-size: 10px;
                    background-color: #1e35ff;
                    color: white;
                    padding: 2px;
                    line-height: 14px;
                    text-align: center;
                    margin-top: 5px;
                }

                &.checkbox-wrapper {
                    position: relative;
                    input {
                        opacity: 0;
                        width: 1em;
                        height: 1em;
                        position: absolute;
                        left: -1000px;
                    }
                    input + label {
                        cursor: pointer;
                        user-select: none;
                        text-align: left;
                        margin-left: 30px;
                    }
                    input + label:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 22px;
                        height: 22px;
                        border: 2px solid white;
                    }
                    input:checked + label:before {
                        background: url(/img/tick.svg);
                        background-repeat: no-repeat;
                        background-size: 15px auto;
                        background-position: center;
                    }
                }
            }
        }
    }
}

/** PROGRESSBAR */
@mixin progressbar($width-bar) {
    .progress-container {
        position: relative;
        height: 2px;
        $newWidth: min(#{$width-bar}, 315px);
        width: $newWidth;

        .total-bar {
            position: absolute;
            width: $newWidth;
            height: 2px;
            opacity: 0.4;
            border: 2px solid #ffffff;
            border-radius: 4px;
            filter: blur(1px);
        }

        .bar {
            position: absolute;
            width: 1px;
            height: 2px;
            border-radius: 4px;
            border: 2px solid #ffffff;
            background-color: #ffffff;
            transition: width 200ms linear;
        }

        .bar-25 {
            width: calc(0.25 *#{$newWidth});
        }

        .bar-50 {
            width: calc(0.5 *#{$newWidth});
        }

        .bar-75 {
            width: calc(0.75 *#{$newWidth});
        }

        .bar-100 {
            width: $newWidth;
        }
    }
}

@include progressbar($width-bar: 100vw);
@include pageStyle($spacing: 22px);

/** BREAKPOINTS */
@include media-breakpoint-up(sm) {
    @include pageStyle($spacing: 15px);
}
@include media-breakpoint-up(md) {
    body {
        background-image: url(/img/bg-lg.png);
        // overflow: hidden;
    }  
    .custom-modal {
        background-image: url(/img/bg-lg.png);
        width: 70%;
        left: 15%;
        top: 0%;
    }

    .listen-container {
        .listen-modal {
            width: 40%;
            left: 30%;
            top: 15%;
            height: auto;
        }
    }

    .record-container {
        @include progressbar($width-bar: 345px);
    }
}

// For safari
@media print {
  .container {
    width: auto;
  }
}