/*
 * GLOBAL
 */

#app-wrapper {
  /* Quick'n'dirty helper to get a phone layout */
  width: 400px;
  margin: auto;
}

/*
 * HOMEPAGE
 */

body.page_welcome .app-about .text-wrapper {
  height: 100px;
  overflow: hidden;
}

body.page_welcome .app-about.opened .text-wrapper {
  height: auto;
}

body.page_welcome .home-interaction-block {
  overflow: hidden;
}

body.page_welcome .home-interaction-block > * {
  width: 50%;
}

body.page_welcome .home-interaction-block.listen > * {
  float: left;
}

body.page_welcome .home-interaction-block.record > * {
  float: right;
}

/*
 * RECORD DREAM PAGE
 */

