#app-wrapper {
  /* Quick'n'dirty helper to get a phone layout */
  width: 400px;
  margin: auto;
}

/* Homepage */

.app-about .text-wrapper {
  height: 100px;
  overflow: hidden;
}

.app-about.opened .text-wrapper {
  height: auto;
}

.home-interaction-block {
  overflow: hidden;
}

.home-interaction-block > * {
  width: 50%;
}

.home-interaction-block.listen > * {
  float: left;
}

.home-interaction-block.record > * {
  float: right;
}

